<% provide(:title, "About") %>
<h1>About</h1>
<p>
  To learn about the features of this website, checkout the README on
  <a href="https://github.com/Lincoln23/discuss-share" target="_blank" rel="noopener">Github</a> and learn more about
  me/contact me on my <a href="https://www.tslincolnlo.com/">Website</a>
</p>
