<footer class="footer">
  <small>
    Inspired by the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="https://www.tslincolnlo.com/">Lincoln</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank" rel="noopener">News</a></li>
    </ul>
  </nav>
</footer>